.super-rare {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .title {
      color: var(--accent-color1);
      font-size: 2.4rem;
    }
    .description {
      color: var(--accent-color3);
      a {
        color: var(--accent-color3);
        font-weight: bold;
      }
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    .card {
        .card-image {
          img {
            width: 20rem;
            height: 20rem;
            border-radius: 2rem;
          }
        }
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }



    .button {

          display: table;
          margin: 0 auto;


          font-size: 15px;
          color: var(--accent-color1);
          background-color: var(--background);
          padding: 0.5rem 1rem;
          font-weight: bold;
          border-radius: 2rem;
          border: solid 2px transparent;
          background-image: linear-gradient(
                          rgba(255, 255, 255, 0),
                          rgba(255, 255, 255, 0)
          ),

          linear-gradient(101deg, var(--pink), var(--orange));
          background-origin: border-box;
          background-clip: content-box, border-box;
          box-shadow: 2px 1000px 1px var(--background) inset;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover {
            box-shadow: none;
          }
        }

    .advs{
      color: var(--accent-color1);
      // font-size: 2.4rem;
      font-size: 1rem;
      text-align: left;
      display: table;
      width: 100%;
      .col {
        display: table-cell;
      }
    }


  }
}

@media (max-width: 575.98px) {
  .super-rare {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .title {
        color: var(--accent-color1);
        // font-size: 2.4rem;
        font-size: 1.5rem;
        text-align: center;
      }
      .description {
        color: var(--accent-color3);
        text-align: center;
        padding: 0 1rem;
        a {
          color: var(--accent-color3);
          font-weight: bold;
        }
      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;

      .card {
        padding: 1rem 0;
        .card-image {
          img {
            width: 14rem;
            height: 14rem;
            border-radius: 0;
          }
        }
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }

        &-content {
          display: flex;
        }
      }
    }

  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .super-rare {
    gap: 3rem;

    .title-container {
      text-align: center;
    }

    .cards {
      align-items: center;
      justify-content: center;

      .card {
        margin: 1rem 1.5rem;
        .card-image {
          img {
            width: 14rem;
            height: 14rem;
          }
        }

        &-content {
          .card-heading {
            .card-series {
              font-size: 0.7rem;
            }
            .card-top {
              font-size: 0.7rem;
            }
          }

          .card-details {
            font-size: 0.7rem;
          }

          .card-sub-details {
            span {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
